body{
    /*Ponerle color a la letra*/
    color: #130a18;
    /*Poner color de fondo*/
    background-color:#ece0e6;
    /*Tipo de letra */
    font-family: 'Roboto Mono', monospace;
 }

 h1{
   color: #4e5388;
   font-size: 50px;/*tamaño de la fuente*/
}

h3{
    color:#cda6c6;
 }

/*tamaño de la imagen*/

img{
    width: 400px;/*Ancho de la imagen*/
    height: 250px;/*Altura de la imagen*/
    padding: 20px;/*separar las imagenes*/
    margin: 20px;
 }

 /**/
 footer{
    background-color: beige;
    color: black;
    
 }

